.modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}

.modal-header span {
  width: 100%;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
