@import "paleta-cores.css";

body {
  color: var(--preto);
  background: url(../src/assets/background.png) no-repeat center center fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
